<!DOCTYPE html>

<html ng-app="tripdetails.itinerary.app">
<head>
    <script src="js/angularJS/angular.min.js"></script>
    <script src="js/bootstrapJS/ui-bootstrap.min.js"></script>

    <script src="js/angularJS/angular-timeline.js"></script>
    <script src="js/angularJS/ngDraggable.js"></script>

    <script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/page3Main.js"></script>
	<script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/shakuni.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrapCSS/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapCSS/angular-timeline.css" />
    <link rel="stylesheet" href="css/bootstrapCSS/angular-timeline-bootstrap.css" />
</head>

<body>
	<div ng-controller="itineraryMainController">
		<div ng-include src="'templates/layouts/global/header.html'"></div>
        <div ng-controller="shakuniController">
            <div class="row">
                <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showCityPanel.html'"></div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showHotels.html'"></div>
                </div>
                <div class="row">
                    <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showPlaces.html'"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showItineraryPanel.html'"></div>
            </div>
        </div>
		<!--<div ng-include src="'templates/layouts/global/footer.html'"></div>-->
	</div>
</body>

</html>
