<!DOCTYPE html>

<html ng-app="tripdetails.itinerary.app">
<head>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/angularJS/angular.min.js"></script>
    <script src="js/bootstrapJS/ui-bootstrap.min.js"></script>
    <script src="js/angularJS/angular-scroll.min.js"></script>

    <script src="js/angularDirective/fixToTop.js"></script>
    <script src="js/angularJS/angular-timeline.js"></script>
    <script src="js/angularJS/angular-dragdrop.js"></script>
    <script src="js/angularJS/ngDraggable.js"></script>
    <script type="text/javascript" src="js/angularDirective/scrollInview.js"></script>
    <script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/page3Main.js"></script>
    <script type="text/javascript" src="js/angularService/hotelsAndPlacesPageAngularService/mapDataService.js"></script>
    <script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/jatayu.js"></script>
	<script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/shakuni.js"></script>
    <script type="text/javascript" src="js/angularController/hotelsAndPlacesPageAngularController/hanuman.js"></script>
    <script type="text/javascript" src="js/angularJS/verge.min.js"></script>
    <script type="text/javascript" src="js/angularJS/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrapCSS/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrapCSS/angular-timeline.css" />
    <link rel="stylesheet" href="css/bootstrapCSS/angular-timeline-bootstrap.css" />
    <link rel="stylesheet" href="css/hotelsAndPlacesPage/shakuni.css" />
    <link rel="stylesheet" href="css/hotelsAndPlacesPage/map.css">
    <link rel="stylesheet" href="css/hotelsAndPlacesPage/cityPanel.css">

</head>

<body>
	<div ng-controller="itineraryMainController">
		<div ng-include src="'templates/layouts/global/header.html'"></div>
        <div ng-controller="shakuniController">
            <div class="row">
                <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showCityPanel.html'"></div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/leftPanel.html'"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div style="height:100%" ng-include src="'templates/layouts/hotelsAndPlacesPage/showItineraryPanel.html'"></div>
            </div>
        </div>
        <div ng-controller="hanumanController" class="alert-box">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
		<!--<div ng-include src="'templates/layouts/global/footer.html'"></div>-->
	</div>
</body>

</html>
