
<div class="col-xs-12" style="padding-bottom: 2%">
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="leftPanel" btn-radio="'places'">
            <i class="col-xs-2 glyphicon glyphicon-eye-open"></i>
            <div class="col-xs-2">Places</div>
        </label>
        <label class="btn btn-primary" ng-model="leftPanel" btn-radio="'maps'" ng-click="loadMaps()">
            <i class="col-xs-2 glyphicon glyphicon-map-marker"></i>
            <div class="col-xs-2">Maps</div>
        </label>
        <label ng-hide="!(currentDestination.isHotelRequired != undefined && currentDestination.isHotelRequired == 1)" class="btn btn-primary" ng-model="leftPanel" btn-radio="'hotels'">
            <i class="col-xs-2 glyphicon glyphicon-home"></i>
            <div class="col-xs-2">Hotels</div>
        </label>
    </div>
</div>
<div class="col-xs-12">
    <div ng-if="leftPanel=='places'" ng-repeat="place in allPlaces">
        <div class="col-xs-4" style="padding: 0;margin-bottom: 0;" ng-class="stopClickClass" ng-drag="!place.placeAdded" ng-drag-data="{isSwap: false, placeIndex: $index}" ng-click="showLeftPanelDetails(place)">
            <div class="wrapper">
                <a class="thumbnail" style="margin-bottom: 0;">
                    <img src="images/agra.jpg" class="img-responsive" style="width: 100%"/>
                    <!--<img ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,h_150,w_300/{{place.PlaceID}}-1.png" class="img-responsive" style="width: 100%"/>-->
                </a>
                <div ng-if="!place.placeAdded" class="btn btn-default add-button" ng-drag="false" ng-cancel-drag ng-click="addPlace($event, place)">
                    <i class="glyphicon glyphicon-plus"></i>
                </div>
                <div class="name">
                    <p class="name_content">
                        {{place.Name}}
                    </p>
                </div>
                <!--end of description class-->
            </div>
            <!--end of wrapper class-->
        </div>
    </div><!--end of ng-repeat-->
    <div ng-if="leftPanel=='hotels'" ng-repeat="hotel in allHotels">
        <div class="col-xs-4" style="padding: 0;margin-bottom: 0;">
            <div class="wrapper">
                <a href="#" class="thumbnail" style="margin-bottom: 0;">
                    <img ng-src="{{hotel.PhotoLink}}" class="img-responsive" style="width: 100%"/>
                </a>
                <div ng-if="!hotel.hotelAdded" class="btn btn-default add-button" ng-click="addHotel(hotel)">
                    <i class="glyphicon glyphicon-plus"></i>
                </div>
                <div class="name">
                    <p class="name_content">
                        {{hotel.Name}}
                    </p>
                </div>
                <!--end of description class-->
            </div>
            <!--end of wrapper class-->
        </div>
    </div><!--end of ng-repeat-->
    <div ng-controller="jatayuController">
        <div ng-hide="!(leftPanel=='maps')">
            <div fix-top id="map-canvas"></div>
        </div>
    </div>
</div>
