<div class="list-group hidden-xs hidden-sm" ng-if="!isCustomizationOn" fix-top>
    <button type="button" style="width:20vw" class="list-group-item" ng-click="customize('places')">Customize Places</button>
    <button type="button" style="width:20vw" class="list-group-item" ng-click="customize('hotels')">Replace Hotel</button>
    <button type="button" style="width:20vw" class="list-group-item" ng-click="customize('map');loadMaps('map-canvas')">View Itinerary with Map</button>
</div>
<div id="custom-places" ng-if="showPlacesForCustomization" class="panel panel-default" fix-top style="height:100vh">
    <div class="panel-heading" style="width: 100%">
        Adventure Religious Hill Station
        <button style="float: right" ng-click="customize()"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
    <div scroll-pane scroll-config="paneConfig" id="placesPanel" style="width:100%;height:100vh">
        <div id="transcludePlacesPanel" class="clearfix">
            <div class="panel-body">
                <div class="panel-places clearfix" ng-repeat="place in allPlaces" post-repeat style="width: 100%">
                    <div style="padding: 0;margin-bottom: 0;position: relative" ng-class="stopClickClass">
                        <div class="wrapper col-md-8">
                            <a class="thumbnail col-md-11" style="margin-bottom: 0;">
                                <!--<img src="images/agra.jpg" class="img-responsive" style="width: 100%"/>-->
                                <img ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_250/{{place.PlaceID}}-1.png" class="img-responsive" style="width:250px;min-height:128px"/>
                            </a>
                            <span class="label label-success rating">{{getPlaceRating(place)}}</span>
                            <div ng-if="!place.placeAdded" class="btn btn-default btn-sm add-button"  style="right:14% !important;top:2%" ng-click="replaceLowerPanelPlace($event,$index)">
                                <i class="glyphicon glyphicon-retweet"></i>
                            </div>
                            <div ng-if="!place.placeAdded" class="btn btn-default btn-sm add-button"  style="right:27% !important;top:2%" ng-click="addPlace($event, place)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </div>
                            <div ng-if="place.placeAdded" class="btn btn-success btn-sm add-button" style="right:14% !important;">
                                <i class=" glyphicon glyphicon-ok"></i>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding:0px">
                            <h5>{{place.Name}}</h5>
                        </div>
                        <div class="btn btn-primary btn-sm" ng-click="showLeftPanelDetails(place)">Details</div>
                        <!--end of wrapper class-->
                    </div>
                </div><!--end of ng-repeat-->
            </div>
        </div>
    </div>
</div>

<div id='custom-hotels' ng-if="showHotelsForCustomization" class="panel panel-default" fix-top style="height:100vh" xmlns="http://www.w3.org/1999/html">

    <div class="panel-heading">
        Budget Hotels
        <button style="float: right" ng-click="customize()"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
    <div scroll-pane scroll-config="paneConfig" id="hotelsPanel" style="width:100%;height:100vh">
        <div id="transcludeHotelsPanel" class="clearfix">
            <div class="panel-body">
                <div ng-if="allHotels.length == 0">
                    There is no Hotel Required for {{currentDestination.name}}
                </div>
                <div class="panel-hotels clearfix" ng-repeat="hotel in allHotels" style="width: 100%" post-repeat>
                    <div style="padding: 0;margin-bottom: 0;position: relative">
                        <div class="wrapper col-md-8">
                            <a class="thumbnail col-md-11" style="margin-bottom: 0;">
                                <!--<img src="images/agra.jpg" class="img-responsive" style="width: 100%"/>-->
                                <img ng-if="!hotel.isFromApi" ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_250/{{hotel.HotelID}}.png" class="img-responsive" style="width:250px;min-height:128px"/>
                                <img ng-if="hotel.isFromApi" ng-src="http://images.travelnow.com/{{hotel.HotelUrl}}">
                            </a>
                            <div ng-if="!hotel.hotelAdded" class="btn btn-default btn-sm add-button" style="right:14% !important;" ng-click="addHotel(hotel)">
                                <i class="glyphicon glyphicon-retweet"></i>
                            </div>
                            <div ng-if="hotel.hotelAdded" class="btn btn-success btn-sm add-button" style="right:14% !important;">
                                <i class=" glyphicon glyphicon-ok"></i>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding:0px">
                            <h5>{{hotel.Name}}</h5>
                            <rating ng-model="hotel.Rating" max=5 readonly=true></rating>
                            </br>
                            <small>{{hotel.Price | currency:"&#8377;":0}} room/night </small>
                            </br>
                        </div>
                        <!--end of wrapper class-->
                    </div>
                </div><!--end of ng-repeat-->
            </div>
        </div>
    </div>
</div>

<div ng-controller="jatayuController">
    <div ng-hide="!(showMap)&&!(mobileViewLabel=='Itinerary')">
        <div id="map-view" class="panel panel-default" fix-top style="left:0px">
            <div class="panel-heading hidden-xs hidden-md">
                Map View
                <button style="float: right" ng-click="customize()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <div class="panel-body">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer text-center hidden-md hidden-lg" style="padding-top: 0px">
    <div class="bottom-bar">
        <div class="container" style="background-color: #f8f8f8;border-color: #e7e7e7">
            <div class="btn btn-primary" ng-click="loadMaps('map-canvas');changeView()">{{mobileViewLabel}}</div>
            <div class="btn btn-primary" ng-click="showLowerPanel('places')">Places</div>
            <div class="btn btn-primary" ng-click="showLowerPanel('hotels')">Hotels</div>
            <div class="btn btn-primary" ng-click="saveItineraryMobile()">Save</div>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->

<footer ng-if="(lowerPanelContent=='places')" class="sticky-footer text-center" style="padding-top: 0px;z-index:1006;background-color:#f8f8f8">
    <div style="height: 150px">
        <button style="position: absolute;top:0px;right:0px;z-index: 100" ng-click="removeLowerPanel()"><i class="glyphicon glyphicon-remove"></i></button>
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="place in allPlaces" active="place.active">
                <div style="padding: 0;margin-bottom: 0;position: relative" ng-class="stopClickClass" class="text-center">
                    <div class="wrapper" class="text-center">
                        <a class="thumbnail" style="margin-bottom: 0;">
                            <img ng-click="showLeftPanelDetails(place)" ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,h_150,w_300/{{place.PlaceID}}-1.png" class="img-responsive" style="margin:auto;">
                            <div ng-if="!place.placeAdded">
                                <div class="btn btn-default" style="position:absolute;top:0;left:50%;z-index:100" ng-click="replaceLowerPanelPlace($event,$index)">
                                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                                    {{replaceLabel}}
                                </div>
                            </div>
                            <div ng-if="!place.placeAdded">
                                <div class="btn btn-default" style="position:absolute;top:0;right:50%;z-index:100" ng-click="addPlace($event, place)">
                                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                                    Add
                                </div>
                            </div>
                            <div ng-if="place.placeAdded">
                                <div class="btn btn-success" style="position:absolute;top:0;right:50%;z-index:100">
                                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                                    Added
                                </div>
                            </div>
                        </a>
                        <div class="name">
                            <p class="name_content">
                                {{place.Name}}
                            </p>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</footer>
<footer ng-if="lowerPanelContent=='hotels'" class="sticky-footer text-center" style="padding-top: 0px;z-index:1006;background-color:#f8f8f8">
    <div style="height: 150px">
        <button style="position: absolute;top:0px;right:0px;z-index: 100" ng-click="removeLowerPanel()"><i class="glyphicon glyphicon-remove"></i></button>
        <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="hotel in allHotels" active="hotel.active">
                <div class="wrapper">
                    <a class="thumbnail" style="margin-bottom: 0;">
                        <!--<img src="images/agra.jpg" class="img-responsive" style="width: 100%"/>-->
                        <img ng-if="!hotel.isFromApi" ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_250/{{hotel.HotelID}}.png" class="img-responsive" style="width:250px;height:150px">
                        <img ng-if="hotel.isFromApi" ng-src="http://images.travelnow.com/{{hotel.HotelUrl}}">
                    </a>
                    <div style="position:absolute;top:4%;left:20%;z-index:100" class="btn btn-default">
                        {{hotel.Price | currency:"&#8377;":0}}
                    </div>
                    <div ng-if="!hotel.hotelAdded" style="position:absolute;top:4%;left:59%;z-index:100" class="btn btn-default" ng-click="addHotel(hotel)">
                        Replace
                    </div>
                    <div ng-if="hotel.hotelAdded" style="position:absolute;top:4%;left:59%;z-index:100" class="btn btn-success">
                        Added
                    </div>
                    <div class="name">
                        <p class="name_content">
                            {{hotel.Name}}
                        </p>
                    </div>
                    <!--end of description class-->
                </div>
            </slide>
        </carousel>
    </div>
</footer>
