<div class="panel panel-default">
  <div class="panel-body text-center">
      <div ng-if="isItineraryPlanned" class="row text-center center-block">

          <!--<div class="col-xs-1" style="height: 00px; border: 1px solid #000;margin-top: 1%;"></div>-->

          <!--<div class="col-xs-1" style="height: 00px; border: 1px solid #000;margin-top: 1%;"></div>-->
          <div class="col-xs-2 btn btn-default  btn-responsive">{{origin.name}}</div>
          <div ng-repeat="stop in stops[0]" class="col-xs-2 btn btn-danger btn-responsive" ng-click="showStopDetails(stop)">{{stop.name}}</div>
          <div ng-repeat="destination in destinations">
              <div class="col-xs-2 btn {{getButtonClass(destination)}}  btn-responsive" ng-click="showDestinationItinerary(destination)">{{destination.name}}</div>
              <div ng-repeat="stop in stops[$index+1]" class="col-xs-2 btn btn-danger btn-responsive" ng-click="showStopDetails(stop)">{{stop.name}}</div>
          </div>
          <div class="col-xs-2 btn btn-default  btn-responsive">{{origin.name}}</div>
      </div>
  </div>
</div>
