#npm Files
TripPlannerApp/.build
TripPlannerApp/npm-debug.log
#node_modules
TripPlannerApp/node_modules/**
#Eclipse metadata
.metadata/**
CrawlHTMLUnit/.metadata/
TripPlannerApp/.settings
#WebStorm metadata
TripPlannerApp/.idea/
#Production Files
TripPlannerApp/public/js/production/**
