<div>
    <p>This is the admin page</p>
    <p>Use Cases:</p>
    <ul>
        <li>/newPlace: Opens Form where information can be filed and submitted to insert a new place in current DB</li>
        <li>/place/placeid: Shows the information of place which can be edited</li>
        <li>/placesOfCity/cityid: Not implemented</li>
        <li>/insertCrawledPlace/cityid: Given the city id of a crawled place in old DB, will show the details here. Inserting will insert into the new DB</li>
    </ul>
</div>
