<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/TripPlannerApp/public/css/bootstrapCSS/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col-xs-3">
            <img src="/Users/rkapoor/Github/Crawlersforweb/TripPlannerApp/public/images/LogoB.png" alt="tripsonair" class="img-responsive" style="width: 100%">
        </div>
    </div>
    <div class="row" style="padding-top: 5%">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <p>Dear User,</p>
            <p>You have successfully created your itinerary. Your trip details are given below. It was a great pleasure serving you. We look forward to your visit again. Have a happy journey.</p>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>Travel Details</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <h5 class="text-center">New Delhi To Bangalore (Flight,Train)</h5>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <h6 class="text-center">New Delhi To Mumbai (Flight)</h6>
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <div class="row">
                                    Jet Airways
                                </div>
                                <div class="row">
                                    9W 4513
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    12 May 2015
                                </div>
                                <div class="row">
                                    18:00
                                </div>
                                <div class="row">
                                    Kempegowda Intl Airport
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row">
                                    12 May 2015
                                </div>
                                <div class="row">
                                    18:00
                                </div>
                                <div class="row">
                                    Kempegowda Intl Airport
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <h6 class="text-center">Mumbai To Bangalore (Train)</h6>
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <div class="row">
                                    12451
                                </div>
                                <div class="row">
                                    Bangalore Rajdhani Express
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    14 May 2015
                                </div>
                                <div class="row">
                                    11:55
                                </div>
                                <div class="row">
                                    Hazrat Nizamuddin (NZM)
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="row">
                                    14 May 2015
                                </div>
                                <div class="row">
                                    11:55
                                </div>
                                <div class="row">
                                    Hazrat Nizamuddin (NZM)
                                </div>
                            </div>
                            <div class="col-xs-2">
                                Rs 2144
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <h5 class="text-center">New Delhi To Bangalore (Train)</h5>
                <div class="panel-body">
                    <div class="col-xs-4">
                        <div class="row">
                            12451
                        </div>
                        <div class="row">
                            Bangalore Rajdhani Express
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                        <div class="row">
                            Hazrat Nizamuddin (NZM)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                        <div class="row">
                            Hazrat Nizamuddin (NZM)
                        </div>
                    </div>
                    <div class="col-xs-2">
                        Rs 2144
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <h5 class="text-center">New Delhi To Bangalore (Cab)</h5>
                <div class="panel-body">
                    <div class="col-xs-4">
                        <div class="row">
                            Innova
                        </div>
                        <div class="row">
                            Taxi For Sure
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                    </div>
                    <div class="col-xs-2">
                        Rs 5144
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <h5 class="text-center">New Delhi To Bangalore (Bus)</h5>
                <div class="panel-body">
                    <div class="col-xs-4">
                        <div class="row">
                            New GreenLine Travels And Holidays bangalore
                        </div>
                        <div class="row">
                            Non A/C Seater (2+2)
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            14 May 2015
                        </div>
                        <div class="row">
                            11:55
                        </div>
                    </div>
                    <div class="col-xs-2">
                        Rs 500
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
