.background-image{
	background:#181015 url( /images/testing.jpg) no-repeat; background-size: cover; min-height:520px;
}

.dropdown-menu{
    cursor: pointer;
}

.cursor-style{
    cursor: pointer;
}

.btn.round {
    border-radius: 24px;
}

.btn.gradient {
    background: -moz-linear-gradient(top, #ff7310 50%, #0000ff 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ff7310), color-stop(50%,#0000ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff7310 50%,#0000ff 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff7310 50%,#0000ff 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff7310 50%,#0000ff 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff7310 50%,#0000ff 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7310', endColorstr='#0000ff',GradientType=0 ); /* IE6-9 */
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.active.time-picker {
    -webkit-filter: invert(1);
    filter: invert(1)
}

.time-not-selected{
    border:1px solid red;
}

.animate-this{
    -webkit-animation: neon 1.5s ease-in-out 3 alternate;
    -moz-animation: neon 1.5s ease-in-out 3 alternate;
    animation: neon 1.5s ease-in-out 3 alternate;
}

@-webkit-keyframes neon {
    from {
        box-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px #fb742a,
        0 0 70px  #fb742a
    }
    to {
        box-shadow: 0 0 5px #fff,
        0 0 10px #fb742a,
        0 0 15px #fb742a,
        0 0 20px #fb742a,
        0 0 35px #fb742a
    }
}

.overlay {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .back-size{
        height:90vh;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .date-pick {
        padding-left: 5px;
        font-size: small;
    }
    .back-size{
        height:90vh;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .date-pick {
        padding-left: 5px;
        font-size: small;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .date-pick {
        padding-left: 10px;
    }
    div.arrival-date-picker .dropdown-menu{
        left:-100px !important;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

@media (max-width: 350px) {
    .date-pick {
        padding-left: 5px;
        font-size: small;
    }
}
/*.navbar-nav > li {*/
    /*padding-left: 1%;*/
    /*padding-right: 1%;*/
/*}*/
