<script type="text/ng-template" id="customTemplate.html">
    <a style="width:100%">
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="container-fluid jumbotron back-size">
    <div class="row">
        <div class="col-sm-2">
            <div ng-controller="selectedDestinationsPanelController" collapse="isSelectedPanelCollapsed">
                <div class="panel panel-primary animate-this hidden-xs hidden-sm " style="height: 80vh">
                    <!--<div class="panel-heading text-center">-->
                    <!--<div ng-hide="submitItinerary"  class="btn btn-default btn-xs btn-responsive" ng-click="onSubmit()">Submit</div>-->
                    <!--</div>-->

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12"><h5>Origin:</h5></div>
                            <div class="col-sm-12">
                                <div class="wrapper">
                                    <a href="#" class="thumbnail" style="margin-bottom: 0;">
                                        <img src="images/agra.jpg" class="img-responsive" style="width: 100%"/>
                                    </a>

                                    <div class="name">
                                        <p class="text-center">
                                            {{origin.CityName}}
                                        </p>
                                    </div>
                                    <!--end of description class-->
                                </div>
                            </div>
                            <div class="col-sm-12" ng-hide="destinationLabel"><h5>Destination(s):</h5>
                                <div scroll-pane scroll-config="paneConfig" id="destinationsPanel" style="width:100%;height: 45vh">
                                    <div id="transcludeDestinationsPanel" class="clearfix">
                                        <div class="panel-selectedDestinations clearfix" ng-repeat="destination in destinationCityList" post-repeat>
                                            <!--<div class="col-sm-12">-->
                                            <div id={{destination.CityID}} class="wrapper">
                                                <a href="#" class="thumbnail" style="margin-bottom: 0;">
                                                    <img ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_200/{{destination.CityID}}.png" class="img-responsive" style="width: 200px;min-height: 100px"/>
                                                </a>

                                                <div class="btn btn-default add-button" ng-click="destinationRemoved(destination)">
                                                    <!-- ng-click="{{destinationSelected($index)}}"-->
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </div>
                                                <div class="name">
                                                    <p id ="reponsiveFont" class="text-center">
                                                        {{getDestinationName(destination)}}
                                                    </p>
                                                </div>
                                                <!--end of description class-->
                                            </div>
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-1">-->

        <!--</div>-->
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div>
                    <div style="height:100%" ng-include src="'templates/layouts/home/suggestionsAccordingToSelection.html'"></div>
                </div>
            </div>
            <div ng-controller="form1Controller" collapse="isFormPanelCollapsed">

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">{{title}}</h4>
                                </div>
                                <div class="panel-body">
                                    <!--<div id='invalid'></div>-->

                                    <form role="form" autocomplete="off">
                                        <div>
                                        <div ng-view></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--container-->
                </div>
                <!--jumbotron-->
            </div>
            <div class="row">
                <div style="height:100%" ng-include src="'templates/layouts/home/destinationsSuggest.html'"></div>
            </div>
        </div>
        <!--main wrapping-->

    </div>
</div>
