<!DOCTYPE html>

<div ng-controller="form1Controller" class="jumbotron">
	<div class ="container-fluid ">
		<div class="row">
			<div class="col-md-4">
			</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">{{title}}</h4>
						</div>	
							<div class="panel-body">
								<div id = 'invalid'></div>
								<form role="form">
								  <div class="form-group">
								    <!--<label for="originCity">Origin City</label>-->
								    <input class="form-control" id="originCity" placeholder="Enter the origin">
								  </div>
								  <div class="form-group">
								    <!--<label for="Destcity1">Destination</label>-->
								    <input class="form-control" id="Destcity1" placeholder="Enter the destination">
								  </div>
								  <div class="checkbox">
								    <label>
								      <input type="checkbox"> OR Let us choose your destinations
								    </label>
								  </div>
								  <!--<button type="submit" class="btn btn-default">Submit</button>-->
								
					    <div ng-controller="DatepickerCtrl">
						    <div class="row">
						        <div class="col-md-6">
						        	
						            <p class="input-group">
						              <input type="button" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
						              <span class="input-group-btn">
						                <button id="1" type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
						            </p>
						        	</div>
						        
					       
						        <div class="col-md-6">
						        		 
						            <p class="input-group">
						              <input type="button" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2" min-date="minDate1" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
						              <span class="input-group-btn">
						                <button id="2" type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
						            </p>
						        
						    	</div>
					    </div>
					</div>
				</form>



<!--
							<table id="inptable">
								<tr id="TextBoxDiv">	
									<td ><label>Origin : </label></td>
									<td><input type='text' class="typeahead tt-query" id='origin' autocomplete="off" spellcheck="false"></td>	
								</tr>
								<tr id="TextBoxDiv1">
									<td><label>Destination #1 : </label></td>
									<td><input type='text' class="typeahead tt-query destination" id='textbox1'></td>
									<td></td>
									<td><div id="addButton" style="cursor:pointer" >Add</div></td>
								</tr>

								<tr>
									<td></td>
									<td>
									<form>
									<input type="checkbox" name="" value="" onclick="choose()"> OR Let us choose your destinations<br>
									</form></td>
								</tr>
							</table>
-->



					</div>
				</div>

			</div>
		</div>





<!--
<p>Start Date: <input type="text" id="startdate"></p>
<select id="stTime" name="startTime">
<option value="morning">Morning</option>
<option value="evening">Evening</option>
</select>
<p>End Date: <input type="text" id="enddate" onchange="geolocation()"></p>
<select id ="endTime" name="EndTime">
<option value="morning">Morning</option>
<option value="evening">Evening</option>
</select>
-->

	</div><!--container-->
</div><!--jumbotron-->
