<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">How Tripsonair Works?</h2>
            <p class="intro text-center">We take care of the UX and front-end design so you can save time building your site</p>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Save you time and effort</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. Its also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="/images/figure-1.png" alt="">
                    <figcaption class="figure-caption">(Screenshot: Coral - App &amp; website startup kit) </figcaption>
                </figure>
            </div><!--//item-->

            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Works across all devices</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. Its also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>
                        <p><i class="fa fa-download"></i> <a href="http://themes.3rdwavemedia.com/velocity/1.5.2/download.html">Download mobile versions</a></p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="/images/figure-2.png" alt="">
                    <div class="control text-center">
                        <button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button>
                    </div><!--//control-->
                </figure>
            </div><!--//item-->

            <div class="row item ">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Easy to customise</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. Itӳ also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="/images/figure-3.png" alt="">
                    <figcaption class="figure-caption">(Screenshot: <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/?ref=3wm" target="_blank">Tempo - Bootstrap template for startups)</a> </figcaption>

                </figure>
            </div><!--//item-->

            <div class="row item last-item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Connect your users</h3>
                    <div class="desc">
                        <p>Explain one of your product benefits here. Let users know how they can benefit using your product. Itӳ also a good idea to back it up with a testimonial or tweet from your users.</p>
                        <p>The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.</p>

                    </div>

                    <!-- <div class="quote">
                         <div class="quote-profile">
                             <img class="img-responsive img-circle" src="./Responsive website template for products_files/profile-s-4.png" alt="">
                         </div><!--//profile-->
                    <!-- <div class="quote-content">
                         <blockquote><p>I can connect to like-minded people lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p></blockquote>
                         <p class="source">@JackT, San Francisco</p>
                     </div><!--//quote-content-->
                    <!-- </div>//quote-->
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="/images/figure-4.png" alt="">
                </figure>
            </div><!--//item-->
        </div><!--//container-->
    </section><!--//why-->
</div><!--//section-wrapper-->
