/* Large desktops and laptops */
@media (min-width: 1200px) {
    #map-canvas {
        width: 50vw;
        height: 100vh;
        background-color: #CCC;
    }
}

/* Landscape tablets and medium desktops -md*/
@media (min-width: 992px) and (max-width: 1199px) {
    #map-canvas {
        width: 50vw;
        height: 100vh;
        background-color: #CCC;
    }
}

/* Portrait tablets and small desktops sm*/
@media (min-width: 768px) and (max-width: 991px) {
    #map-canvas {
        width: 100vw;
        height: 100vh;
        background-color: #CCC;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #map-canvas {
        width: 100vw;
        height: 100vh;
        background-color: #CCC;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

@media (max-width: 350px) {

}
