.stop-click {
    cursor: move;
}

.cursor-click {
    cursor: pointer;
}

.name{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
.add-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
.rating{
    position: absolute;
    left:8%;
    top:2%;
}
.name_content{
    padding:10px;
    margin:0px;
}

.budget {
    position: absolute;
    right: 1%;
    top: 9%;
    z-index: 2;
}
.header-top{
    z-index:100;
    background-color:rgb(179,205,255);
    width: 100%;
}

.badge{
    background-color:#f89d29;
}

.badgeOnHover{
    background-color: white;
    color:#f89d29;
}
.sub-expense{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
.visitTimings{
    cursor: pointer;
}
.visitTimings:hover{
    background-color: white;
    color:#000000;
}
.carousel-indicators li{
    display: none !important;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .wrapper{
        float:left; /* important */
        position:relative; /* important(so we can absolutely position the description div */
    }
    .alert-box {
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 200;
        width: 40%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper{
        float:left; /* important */
        position:relative; /* important(so we can absolutely position the description div */
    }
    .alert-box {
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 200;
        width: 40%;
    }
}

/* Portrait tablets and small desktops -sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .wrapper{
        position:relative; /* important(so we can absolutely position the description div */
    }
    .itinerary{
        display: none;
    }
    .alert-box {
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 1006;
        width: 100%;
    }
    .carousel-control{
        top:21% !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .wrapper{
        position:relative; /* important(so we can absolutely position the description div */
    }
    .itinerary{
        display: none;
    }
    .alert-box {
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 1006;
        width: 100%;
    }
    .carousel-control{
        top:21% !important;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

@media (max-width: 350px) {

}

.onMapClick{
    position: absolute !important;
    top:0 !important;
}

.sprite1{
    background:url(http://res.cloudinary.com/picsonair/image/upload/v1443893055/sprite_obiwjm.png);
}
