.stop-click {
    cursor: move;
}

.cursor-click {
    cursor: pointer;
}
.wrapper{
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}
.name{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
.add-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
.name_content{
    padding:10px;
    margin:0px;
}
.alert-box {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 40%;
}

.budget {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
