<div class="panel-flightMode" ng-repeat="flight in flights | limitTo: vehicleLimit track by flight.flightIndex" post-repeat>
    <!--<li>-->
        <!--{{flight.Operator}}-->
    <!--</li>-->
    <li ng-if="flight.isRecommended != 0" class="list-group-item" style="font-size:90%">
        <div class="row">
            <div class="col-sm-12" col-xs-12>
                <div class="col-sm-2 col-xs-2">
                    <div class="row"> {{flight.OriginDepartureTime}}</div>
                    <div class="row">{{flight.OriginAirportCode}}</div>
                </div>
                <div class="col-sm-1 col-xs-1">
                    <i class="glyphicon glyphicon-arrow-right" style="font-size:small"></i>
                </div>
                <div class="col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1">
                    <div class="row">{{flight.DestArrivalTime}}</div>
                    <div class="row">{{flight.DestinationAirportCode}}</div>
                </div>
                <div class="col-sm-4 col-xs-4" style="font-weight: bold">
                    <div class="row">{{flight.Operator}}</div>
                    <div class="row">{{flight.FlightNumber}}</div>
                </div>
                <!--<div class="col-sm-2">{{flight.fare | currency:"&#8377;"}}</div>-->
            </div>

            <!--<ul class="list-group">-->
            <!--<div ng-if="isBusClicked" ng-repeat="bus in buses">-->
            <!--<li ng-if="bus.isRecommended != 0" class="list-group-item" style="font-size:90%">-->
            <!--</div>-->
            <!--</ul>-->
            <div class="row" style="padding-top: 2%">
                <div class="col-xs-6">
                    <div class="btn-group {{getDateDropdownOpenClass($index)}}">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="openDateDropdown($event, $index)" aria-haspopup="true" aria-expanded="false">
                            {{(vehicleDate[$index].dt | date:'mediumDate') || 'Select'}}<span ng-if="!vehicleDate[$index].disabled" class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="setCurrentDateInDropdown($index, $parent.$index)" ng-repeat="currentDate in vehicleDate[$index].dateLimits"><a href="">{{(currentDate | date:'mediumDate')}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                    <div class="btn {{getAddButtonClass(flight)}}" ng-click="addToTrip(flight,$index,$event)">{{getAddButtonText(flight)}}</div>
                </div>
            </div>
        </div>
    </li>
</div>
