<!DOCTYPE html>
<html ng-app="tripdetails.routes.app">
<head lang="en">
    <title>Travel Options</title>
    <meta charset="UTF-8">
    <meta name="description" content="Save your time and effort in planning trips through an automated trip planner. Our state-of-the-art algorithms analyze the available travel options, accommodation and attractions to plan a perfect holiday for you in real-time, which can be further customized and personalized.">
    <meta name="keywords" content="Tripsonair, travel planning, trip planning, holiday planner, how to reach, places to visit, flights, trains, bus tickets, hotels, itinerary planning, time to visit, India tourism, holiday packages, how to go">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.angularjs.org/1.4.0/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!--<script src="js/GlobalJSFunctions/googleAnalytics.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>
    <!--<script src="js/angularJS/intro.min.js"></script>-->
    <!--<script src="js/angularJS/angular-intro.min.js"></script>-->
    <script src="js/production/travelPage.min.js"></script>
    <!--<script src="js/angularController/travelPageAngularController/routesApp.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/shabari.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/sanjaya.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/sarathi.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/surya.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/sanjaya.js"></script>-->
    <!--<script src="js/angularController/travelPageAngularController/indra.js"></script>-->
    <!--<script src="js/angularService/travelPageAngularService/orderedCitiesService.js"></script>-->
    <!--<script src="js/angularFilter/titleCase.js"></script>-->
    <!--<script src="js/angularFilter/formatTime.js"></script>-->
    <!--<script src="js/angularJS/angular-pageslide-directive.js"></script>-->
    <!--<script src="js/angularJS/ngDraggable.js"></script>-->
    <!--<script type="text/javascript" src="js/angularController/travelPageAngularController/balarama.js"></script>-->
    <!--<script type="text/javascript" src="js/jscrollPaneJS/jquery.mousewheel.js"></script>-->
    <!--<script type="text/javascript" src="js/jscrollPaneJS/jquery.jscrollpane.min.js"></script>-->
    <!--<script src="js/angularJS/angular-jscrollpane.js"></script>-->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/travelPage/surya.css">
    <link rel="stylesheet" type="text/css" href="css/travelPage/sarathi.css">

    <link rel="stylesheet" href="css/home/fonts-awesome.css">
    <link rel="stylesheet" href="css/home/flexslider.css">
    <link id="theme-style" rel="stylesheet" href="css/home/style4.css">
    <link rel="stylesheet" type="text/css" href="js/jscrollPaneJS/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="css/JscrollPaneCSS/ItineraryPanelJscrollPane.css">
    <link rel="stylesheet" href="css/travelPage/map.css">
    <link rel="stylesheet" href="css/global/pageLoader.css">
    <link rel="stylesheet" href="css/global/stickyFooter.css">
    <link rel="stylesheet" href="css/angularCSS/introjs.min.css">
    <!--<link rel="stylesheet" href="css/angularCSS/introjs-rtl.min.css">-->

</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RM4BW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5RM4BW');</script>
<!-- End Google Tag Manager -->
    <div ng-include src="'templates/layouts/global/pageLoader.html'"></div>
    <div class="header-top hidden-xs hidden-sm" ng-include src="'templates/layouts/global/header.html'"></div>
    <div ng-controller="suryaController">
        <div class="hidden-md hidden-lg" ng-include src="'templates/layouts/travelPage/mobile/stickyHeaderReorder.html'"></div>
        <div ng-include src="'templates/layouts/travelPage/reorder.html'"></div>
    </div>
    <div ng-include src="'templates/layouts/travelPage/routes.html'"></div>
    <div class="hidden-md hidden-lg" ng-include src="'templates/layouts/global/stickyFooter.html'"></div>
</body>

</html>
