<!DOCTYPE html>
<html ng-app="tripdetails.routes.map.app">
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/angularJS/angular.min.js"></script>
    <script src="js/angularController/travelPageAngularController/sanjaya.js"></script>
    <link rel="stylesheet" href="css/travelPage/map.css">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
    <title></title>
</head>
<body>
    <div id="map-canvas" ng-controller="mapController"></div>
</body>
</html>
