                        <div class="row">
                            <div class="col-xs-2 col-lg-2 col-sm-2"></div>
                            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-4">
                                <ul class="draglist">
                                    <li ng-drop="false">
                                        <div ng-drag="false" ng-drag-data="obj" ng-class="obj.name">
                                            <div class="well text-center" style="font-weight: bold; color: #000000; width: 150%">
                                                {{originCity.CityName}}
                                            </div>
                                            <!--<div class="wrapper">-->
                                                <!--<a class="thumbnail " style="margin-bottom: -20%;">-->
                                                    <!--<img src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_200/{{originCity.CityID}}_dp.png" class="img-responsive" style="width: 100%"/>-->
                                                <!--</a>-->
                                                <!--<div class="name">-->
                                                    <!--<p class="name_content">-->
                                                        <!--{{originCity.CityName}}-->
                                                    <!--</p>-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash;end of description class&ndash;&gt;-->
                                            <!--</div>-->
                                        </div>
                                    </li>

                                    <li  class="panel-reorderDest" ng-repeat="obj in draggableObjects" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)" post-dest>
                                        <div ng-drag="true" ng-drag-data="obj" ng-class="obj.CityName">
                                            <div class="wrapper draggable">
                                                <a class="thumbnail " style="margin-bottom: -20%;">
                                                    <img ng-src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_200/{{obj.CityID}}_dp.png" class="img-responsive" style="width: 200px;min-height: 100px"/>
                                                </a>
                                                <div class="name">
                                                    <p class="name_content">
                                                        {{obj.CityName}}
                                                    </p>
                                                </div>
                                                <!--end of description class-->
                                            </div>
                                        </div>
                                    </li>
                                    <li ng-drop="false">
                                        <div ng-drag="false" ng-drag-data="obj" ng-class="obj.name">
                                            <div class="well text-center" style="font-weight: bold; color: #000000; width: 150%">
                                                {{originCity.CityName}}
                                            </div>
                                            <!--<div class="wrapper">-->
                                                <!--<a class="thumbnail " style="margin-bottom: -20%;">-->
                                                    <!--<img src="http://res.cloudinary.com/picsonair/image/upload/c_limit,w_200/{{originCity.CityID}}_dp.png" class="img-responsive" style="width: 100%"/>-->
                                                <!--</a>-->
                                                <!--<div class="name">-->
                                                    <!--<p class="name_content">-->
                                                        <!--{{originCity.CityName}}-->
                                                    <!--</p>-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash;end of description class&ndash;&gt;-->
                                            <!--</div>-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-0"></div>-->

                        </div>
