<!DOCTYPE html>
<style type="text/css">
    .ng-pageslide{
        background: #eee;
    }
</style>
<div ng-intro-options="IntroOptions" ng-intro-method="multiCityIntroFunction" ng-intro-autostart="false" class="left-slider">
    <pageslide ps-open="reorderPanel" ps-size="300px" ps-side="left">
        <div id="reorderPanelIntro" class="panel panel-default" style="height: 100vh">
            <div class="panel-body">
                <div class="text-center">
                    <div ng-hide="reorderList">
                        <div scroll-pane scroll-config="paneConfig" id="reorderDestPanel" style="height:100vh">
                            <div id="transcludeReorderPanel">
                                <div ng-include src="'templates/layouts/travelPage/reorderPanel.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-xs-2"></div>-->
    </pageslide>
    <div class="hidden-md hidden-lg panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <div ng-hide="reorderList">
                    <div ng-include src="'templates/layouts/travelPage/reorderPanel.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
