<!DOCTYPE html>

<style type="text/css">
    .ng-pageslide{
        background: #eee;
    }
</style>

<div ng-controller="sarthiController">
<!-- <div class="row">
    <div class="col-sm-3"> -->
<!--         <div class="page-header text-center">
           <h1><small>Trip Overview</small></h1>     
        </div>
 -->
  <div id="reponsiveFont" class="btn btn-default btn-xs btn-responsive" ng-click="pageSlide()">Submit</div>

<pageslide ps-open="checked2" ps-size="400px" >
    <div ng-click="test()">
        <p>
           <table class="table table-striped">
            <tr>
               <td> Bangalore </td> 
            </tr>
            <tr>
               <td> Modes </td> 
            </tr> 
            <tr>
               <td> chennai </td> 
            </tr> 
            <tr>
               <td> Modes </td> 
            </tr>  
            <tr>
               <td> Bangalore </td> 
            </tr> 
            </table>
        </p>
    </div>
 </pageslide>     
 <pageslide ps-open="checked1">
    <div>
        <p>
            Testing2
        </p>
    </div>
 </pageslide>
    <!-- </div>
    <div class="col-sm-9">
        <div id="map-canvas" ng-controller="mapController"></div>
    </div>





</div> -->
</div>































<!-- <!-- <!-- <div id="travelOptions" class="templateContainer">

    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
       <!--  <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2 class="icon icon-world">Trip Overview</h2>

                <div ng-controller="sarthiController" >
                    <div collapse="submitOrderCollapsed">
                        <div id="reponsiveFont" class="btn btn-default btn-xs btn-responsive" ng-click="showRoutes()">Submit</div>
                        Testing
                    </div>
                    <div collapse="isRouteCollapsed">
                        <ul id="common-template-ui">
                            <div ng-repeat="city in cities">
                                <div class="city-list icon icon-photo">{{city.name}}</div>
                            </div> -->
                            <!--<li class="icon icon-arrow-left">-->
                            <!--<a class="icon icon-display" href="#">modes</a>-->
                            <!--<div class="mp-level">-->
                                <!--<h2 style="color: #fff" class="icon icon-display">Bangalore-Chennai</h2>-->
                                <!--<a class="mp-back" href="#">back</a>-->
                                <!--<ul id="Bangalore-Chennai">-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
     <!--                    </ul>
                    </div>
                </div>
            </div>
        </nav> -->
        <!-- /mp-menu -->

        <!-- <div class="scroller">
            <div class="block block-40 clearfix">
                <p><a href="#" id="trigger" class="menu-trigger" style="z-index: 1">Open/Close Menu</a></p>

            </div>
            <div class="scroller-inner"> -->
                <!--<header class="codrops-header">-->
                <!--<h1>Google Map <span>show destinations</span></h1>-->
                <!--</header>-->
                <!-- <div id="map-canvas" ng-controller="mapController">
                    <div class="content clearfix">

                    </div>
                </div>
            </div> -->
       <!--  </div> --><!-- /scroller -->
    <!-- </div> --><!-- /pusher -->
<!-- </div> -->
<!-- <script src="js/travelPageJS/classie.js"></script>
<script src="js/travelPageJS/mlpushmenu.js"></script> --> 