<!DOCTYPE html>

<style type="text/css">
    .ng-pageslide{
        background: #eee;
    }
    .ng-travel{
        background: #bbbbbb;
    }
</style>
<div ng-controller="routesController">
    <div style="overflow: visible">

        <div ng-controller="sarthiController">

            <pageslide ps-open="isTravelPanelOpen" ps-size="400px" ps-side="left" ps-class="ng-travel">
                <!--<div ng-hide="loader">-->
                <!--<img src="images/loading.gif" class="img-responsive" style="width: 100%"/>-->
                <!--</div>-->
                <div class="panel panel-default" style="height: 100vh"  ng-click="closeOtherPanels(1)">

                    <div class="panel-body">
                        <div ng-hide="isTravelPanelDataHidden" class="travel-pageslide">
                            <p>
                            <div class="panel panel-primary">
                                <div class="panel-heading text-center">
                                    <h3>Trip Overview</h3>
                                </div>
                            </div>
                            <!--<div class="page-header text-center">-->
                            <!--<h1><small>Trip Overview</small></h1>-->
                            <!--</div>-->
                            <div ng-repeat="leg in legs" collapse="isTripPanelSetCollapsed">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{getSourceCityName($index)}}
                                    </div>
                                </div>
                                <div ng-repeat="segment in leg.defaultRoute.segments">
                                    <div ng-if="segment.isMajor != 0" ng-href='#' ng-click="openTravelModesPanel(leg, $event)">
                                        <div class="panel panel-default travel-panel">
                                            <div class="panel-body travel-panel-body">
                                                <div class="col-xs-3">
                                                    <img ng-src="images/{{getModeIcon(segment)}}.png" style="margin:auto; font-size: 2em; margin-top: 30%" class="img-responsive">
                                                    <!--<i class="glyphicon {{getModeIcon(segment)}} glyphicon-large" style="font-size: 2em; margin-top: 30%"></i>-->
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="row">
                                                        {{getDateFormatted(segment) | date:'mediumDate'}}
                                                    </div>
                                                    <div class="row">
                                                        {{getDateFormatted(segment) | date:'EEE'}}
                                                    </div>
                                                    <div class="row">
                                                        {{getDuration(segment)}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    {{getDateFormatted(segment) | date:'shortTime'}}
                                                </div>
                                                <div class="col-xs-3">
                                                    {{getPrice(segment) | currency:"&#8377;"}}
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="segment.majorIndex != leg.defaultRoute.majorCount">
                                            <div class="panel panel-default">
                                                <div class="panel-body stop-panel-body">
                                                    VIA {{getStopName($index, leg.defaultRoute)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$last">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{getDestinationCityName($index)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-click="showOtherTrip()">
                                <div class="panel-heading">
                                    We suggest you check out multi-city taxi for this trip!
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

            </pageslide>
            <pageslide ps-open="isTravelModesPanelOpen" ps-side="left" ps-size="350px">
                <div class="panel panel-default" style="height: 100vh"  ng-click="closeOtherPanels(2)">

                    <div class="panel-body">
                        <div class="page-header text-center">
                            <h1><small>{{getSourceCityFromLeg()}} - {{getDestinationCityFromLeg()}}</small></h1>
                        </div>
                        <div class="row">
                            <div ng-repeat="route in routes">
                                <div ng-repeat="segment in route.segments">
                                    <div ng-if="segment.isMajor != 0">
                                        <div class="panel panel-default" ng-href='#' ng-click="openModeDetailsPanel(segment, $event)">
                                            <div class="panel-body">
                                                <div class="col-xs-2">
                                                    <img ng-src="images/{{getModeIcon(segment)}}.png" style="margin:auto; font-size: 2em; margin-top: 30%" class="img-responsive">
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="row">
                                                        {{getDateFormatted(segment) | date:'mediumDate'}}
                                                    </div>
                                                    <div class="row">
                                                        {{getDateFormatted(segment) | date:'EEE'}}
                                                    </div>
                                                    <div class="row">
                                                        {{getDuration(segment)}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    {{getDateFormatted(segment) | date:'shortTime'}}
                                                </div>
                                                <div class="col-xs-2">
                                                    {{getPrice(segment) | currency:"&#8377;"}}
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="segment.majorIndex != route.majorCount">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    VIA {{getStopName($index, route)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </pageslide>
            <pageslide ps-open="isModeDetailsPanelOpen" ps-side="left" ps-size="300px">
                <div class="panel panel-default" style="height: 100vh">
                    <div class="panel-body">
                        <div ng-if="isTrainClicked" ng-repeat="train in trains">
                            <div ng-if="train.isRecommended != 0" class="panel {{getPanelClass(train)}}">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            {{train.TrainName}}
                                        </div>
                                        <div class="col-xs-4">
                                            {{train.TrainNo}}
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        {{train.OriginStationCode}} - {{train.DestStationCode}}
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="row text-center">
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        {{train.OriginDepartureTime}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        {{train.DestArrivalTime}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    {{train.fare | currency:"&#8377;"}}
                                                </div>
                                            </div>
                                            <div class="row" style="padding-top: 10%">
                                                <div class="col-xs-8">
                                                    <button datepicker-popup="dd-MMMM-yyyy" ng-model="trainDate[$index].dt"
                                                            is-open="trainDate[$index].opened" min-date="trainDate[$index].minDate"
                                                            max-date="trainDate[$index].maxDate"
                                                            datepicker-options="dateOptions" ng-required="true"
                                                            close-text="Close" ng-click="open($event,$index)" ng-disabled="trainDate[$index].disabled">
                                                        <div class="row">
                                                            <div class="col-xs-2 h5">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </div>
                                                            <div class="col-xs-2 h5">{{(trainDate[$index].dt | date:'dd') || 'Select'}}
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="row">
                                                                    <div class="col-xs-2 month">{{trainDate[$index].dt |
                                                                        date:'MMM'}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-2 day">{{trainDate[$index].dt |
                                                                        date:'EEE'}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="btn btn-primary" ng-click="addToTrip()">Add To Trip</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="isFlightClicked" ng-repeat="flight in flights">
                            <div ng-if="train.isRecommendedTrain != 0" class="panel {{getPanelClass(train)}}">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            {{train.TrainName}}
                                        </div>
                                        <div class="col-xs-4">
                                            {{train.TrainNo}}
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        {{train.OriginStationCode}} - {{train.DestStationCode}}
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        Feb 12
                                                    </div>
                                                    <div class="row">
                                                        Mon
                                                    </div>
                                                    <div class="row">
                                                        {{train.OriginDepartureTime}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        Feb 22
                                                    </div>
                                                    <div class="row">
                                                        Wed
                                                    </div>
                                                    <div class="row">
                                                        {{train.DestArrivalTime}}
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    Rs 2300
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </pageslide>
            <div class="col-sm-9">
                <div id="map-canvas" ng-controller="sanjayaController"></div>
            </div>
        </div>
    </div>
</div>
