<div class="panel-travel" ng-repeat="leg in legs" collapse="isTripPanelSetCollapsed" post-repeat>
    <div class="panel panel-default">
        <div class="panel-body">
            {{getSourceCityName($index)}}
            <div style="float: right">{{getDayNightNumInDestination($index)}}</div>
        </div>
    </div>
    <div class="panel panel-default {{segmentHoverClass}}">
        <div ng-repeat="segment in leg.defaultRoute.segments">
            <div ng-if="segment.isMajor != 0" ng-href='#' ng-click="openTravelModesPanel(leg, $event, $parent.$parent.$index)">
                <div ng-if="segment.startCabTrip != undefined && segment.startCabTrip == 1" ng-click="openModeDetailsPanel(segment, leg.defaultRoute, defaultRouteIndex, $event,'cabOperator')">
                    <div ng-repeat="cabDetail in segment.CabDetails">
                        <div ng-if="cabDetail.isFinal != undefined && cabDetail.isFinal == 1" class="panel panel-info">
                            <div class="panel-heading taxi-details" ng-mouseover="onTaxiDetailsHover()" ng-mouseleave="onTaxiDetailsLeave()">
                                <div class="row text-center" style="font-size: 85%">
                                    Take Taxi From {{getStartCityForTaxi(segment)}}
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        {{cabDetail.SegmentType}}
                                    </div>
                                    <div ng-repeat="cabOperator in cabDetail.OperatorPrices">
                                        <div ng-if="cabOperator.isFinal != undefined && cabOperator.isFinal == 1">
                                            <div class="col-xs-4">
                                                {{cabOperator.Operator}}
                                            </div>
                                            <div class="col-xs-4">
                                                {{cabOperator.ActualCabPrice | currency:"&#8377;":0}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isSegmentShown(segment,leg)" class="travel-panel">
                    <div class="panel-body travel-panel-body">
                        <div class="col-xs-2">
                            <img ng-src="/images/{{getModeIcon(segment)}}.png" style="margin:auto; font-size: 2em; margin-top: 30%" class="img-responsive icon-hover">
                            <div class="row text-center" ng-if = "(segment.subkind=='car')" style="font-size: 80%">Drive</div>
                            <div class="row text-center" ng-if = "(segment.subkind=='taxi')" style="font-size: 80%">Taxi</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                {{getDateFormatted(segment) | date:'mediumDate'}}
                            </div>
                            <div class="row">
                                {{getDateFormatted(segment) | date:'EEE'}}
                            </div>
                            <div class="row">
                                {{getDuration(segment)}}
                            </div>
                        </div>
                        <div class="col-xs-3">
                            {{getDateFormatted(segment) | date:'shortTime'}}
                        </div>
                        <div ng-if="isPriceShown(segment)" class="col-xs-3">
                            {{getPrice(segment) | currency:"&#8377;":0}}
                        </div>
                    </div>
                    <div ng-if ="isPanelFooterShown(segment)" class="panel-footer text-center footPanel">Leave Taxi at {{getEndCityForTaxi(segment)}}</div>
                </div>
                <div ng-if="segment.majorIndex != leg.defaultRoute.majorCount && isViaShown(segment)">
                    <!--<div class="panel panel-default">-->
                    <div class="panel-body stop-panel-body">
                        VIA {{getStopName($index, leg.defaultRoute)}}
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div ng-if="$last">
        <div class="panel panel-default">
            <div class="panel-body">
                {{getDestinationCityName($index)}}
            </div>
        </div>
    </div>
</div>
