<!DOCTYPE html>

<html ng-app="tripdetails.input.app" when-scrolled style="height:100%">
<head>
    <title>Trip Not Possible</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Save your time and effort in planning trips through an automated trip planner. Our state-of-the-art algorithms analyze the available travel options, accommodation and attractions to plan a perfect holiday for you in real-time, which can be further customized and personalized.">
    <meta name="keywords" content="Tripsonair, travel planning, trip planning, holiday planner, how to reach, places to visit, flights, trains, bus tickets, hotels, itinerary planning, time to visit, India tourism, holiday packages, how to go">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrapCSS/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="css/home/inputs.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrapCSS/style.css">
    <link rel="stylesheet" type="text/css" href="css/home/fonts-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/home/flexslider.css">
    <link rel="stylesheet" type="text/css" href="css/home/style4.css">
</head>

<body class="home-page" style="overflow-x: hidden">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RM4BW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5RM4BW');</script>
<!-- End Google Tag Manager -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="http://www.tripsonair.com"><img src="/images/Logo.png" alt="tripsonair" class="img-responsive" style="width: 100%"></a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header>
<!--<div class="bg-slider-wrapper">-->
    <!--<div class="flexslider bg-slider">-->
        <!--<ul class="slides">-->
            <!--<li class="slide slide-3 flex-active-slide"></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>&lt;!&ndash;//bg-slider-wrapper&ndash;&gt;-->
<div class="container-fluid jumbotron" style="height: 85vh">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="text-center">
                Sorry, favourable travel options could not be determined according to your requirements
            </h2>
            <div class="panel panel-default">
                <div class="panel-body" style="margin-left:10% ">
            <h5>
                This could be due to:
            </h5>
            <ul>
                <li>
                    Flights, Trains or Buses are not available in the dates you specified
                </li>
                <li>
                    The duration of travel is not sufficient to cover the destinations
                </li>
            </ul>
            <h5>
                Tip: You should change the travel dates and try again.
            </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="padding-top: 0px">
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 <a href="" target="_blank">Tripsonair</a></small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
</body>

</html>
