<!-- ******FOOTER****** -->
<footer class="footer" style="padding-top: 0px">
    <!--<div class="footer-content">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="footer-col links col-md-2 col-sm-4 col-xs-12">-->
                    <!--<div class="footer-col-inner">-->
                        <!--<h3 class="title">About us</h3>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Who we are</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Press</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Blog</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Jobs</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Contact us</a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//footer-col-inner&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//foooter-col&ndash;&gt;-->
                <!--<div class="footer-col links col-md-2 col-sm-4 col-xs-12">-->
                    <!--<div class="footer-col-inner">-->
                        <!--<h3 class="title">Product</h3>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>How it works</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>API</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Download Apps</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Pricing</a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//footer-col-inner&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//foooter-col&ndash;&gt;-->
                <!--<div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">-->
                    <!--<div class="footer-col-inner">-->
                        <!--<h3 class="title">Support</h3>-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Help</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Documentation</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Terms of services</a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-caret-right"></i>Privacy</a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//footer-col-inner&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//foooter-col&ndash;&gt;-->
                <!--<div class="footer-col connect col-md-6 col-sm-12 col-xs-12">-->
                    <!--<div class="footer-col-inner">-->
                        <!--<ul class="social list-inline">-->
                            <!--<li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-facebook"></i></a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-google-plus"></i></a></li>-->
                            <!--<li><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-instagram"></i></a></li>-->
                            <!--<li class="row-end"><a href="http://themes.3rdwavemedia.com/velocity/1.5.2/#"><i class="fa fa-rss"></i></a></li>-->
                        <!--</ul>-->
                        <!--<div class="form-container">-->
                            <!--<p class="intro">Stay up to date with the latest news and offers from Velocity</p>-->
                            <!--<form class="signup-form navbar-form">-->
                                <!--<div class="form-group">-->
                                    <!--<input type="text" class="form-control" placeholder="Enter your email address">-->
                                <!--</div>-->
                                <!--<button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>-->
                            <!--</form>-->
                        <!--</div>&lt;!&ndash;//subscription-form&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;//footer-col-inner&ndash;&gt;-->
                <!--</div>&lt;!&ndash;//foooter-col&ndash;&gt;-->
                <!--<div class="clearfix"></div>-->
            <!--</div>&lt;!&ndash;//row&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//container&ndash;&gt;-->
    <!--</div>&lt;!&ndash;//footer-content&ndash;&gt;-->
    <div class="bottom-bar">
        <div class="container">
            <small class="copyright">Copyright @ 2015 <a href="" target="_blank">Tripsonair</a></small>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
