<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="css/global/footer.css">
</head>
<footer class="site-footer">
	<div class="container">
		<!--<div class="row">
		<div class="col-md-5">
			<address>
				#301,VRR SS Enclave,<br>
				Chinapannahali,bangalore,<br>
				India.
			</address>
		</div>
		</div>-->
		<div class="bottom-footer">
			<div class="col-xs-12 col-sm-5 col-md-5">@ Copyright TripsOnAir 2014</div>
			<div class="col-xs-12 col-sm-7 col-md-7">
				<ul class="footer-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>		
			</div>
		</div>



	</div>
</footer>