<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="http://www.tripsonair.com">
                <!--<img src="/images/Logo.png" alt="tripsonair" class="img-responsive" style="width: 100%">-->
                <div class="img-responsive sprite1" style="background-position: -420px 0px;width: 145px;height: 39px"></div>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-controller="indraController">
                    <li ng-if="isHomeShown" class="active nav-item"><a href="">Home</a></li>
                    <li ng-if="isHowItWorksShown" class="nav-item nav-item-cta last"><a  class="btn btn-cta btn-cta-secondary" href="#why" du-smooth-scroll>How it Works</a></li>
                    <li ng-if="isLogInShown" class="nav-item"><a href="">Log in</a></li>
                    <li class="nav-item" ng-if="isSaveShown" title="Guide Me" style="padding-top: 15px;padding-right: 10px;cursor: pointer" ng-click="guideMe()"><i class="glyphicon glyphicon-question-sign"></i></li>
                    <li id="saveButton" ng-if="isSaveShown" ng-click="submitPage()" class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="">{{saveText}}</a></li>
                    <li ng-if="isSignUpShown" class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="">Sign Up Free</a></li>
                    <li id="budgetHeadBtn" style="padding-left: 5px" ng-if="isBudgetPercentShown" ng-mouseover="setChildClassOnHover()" ng-mouseleave="setChildClassOnOut()" ng-click="toggleBudgetPanel()" class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="">Budget Spent<span class="badge {{budgetBadgeClass}}">{{budgetPercent}}%</span></a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-
