<div ng-controller="shabariController">
<div ng-if="isLoaderShown" class="load-page">
    <div id="preview-area" class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="spinners">
            <li class="circle-spinner selected">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </li>
        </div>
    </div>
</div>
</div>
