<ul class="nav nav-tabs nav-top-fix">
    <li role="presentation" ng-class="{active: mobilePanelOpen.travelMode}" ng-click="openMobilePanel('travelMode')"><a>Travel Plan</a></li>
    <li role="presentation" ng-class="{active: mobilePanelOpen.map}" ng-click="openMobilePanel('map')"><a>Map</a></li>
    <li role="presentation" ng-class="{active: mobilePanelOpen.budget}" ng-click="openMobilePanel('budget')"><a>Budget</a></li>
    <li role="presentation" ng-class="{active: mobilePanelOpen.alert}" ng-click="openMobilePanel('alert')"><a>Alerts</a></li>
</ul>
<div style="margin-bottom: 30px"></div>
