.cab-route {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.final-cab-segment{
    color: #70f753;
    border-color: #6ff14f;
}

.budget {
    position: absolute;
    right: 0px;
    top: 71px;
    z-index: 2;
}
.recommendation{
    position: absolute;
    right: 0px;
    z-index: 2;
}

.segment-hover{
    cursor: pointer;
}
.segment-hover:hover {
    background-color: rgba(255,255,255,0.75);
    background-color: #F0F0F0 ;
    color:#000000;
    /*background-color: rgba(255,255,255,0.75);*/
    /*background-color: #F0F0F0 ;*/
    /*background-color: rgba(255,115,16,0.75);*/
    /*background-color: rgba(0,0,255,0.75);*/
   /*color: white;*/
}

.icon-default{
    -webkit-filter: invert(100%);
}

.icon-hover:hover img{
    -webkit-filter: invert(100%);
}

.panel-transparent{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.25);
    color:#333;
    opacity: 0.6;
    cursor: pointer;
    display: block;
    z-index:2;
}

.default-route{
    background-color: rgba(255,115,16,0.75);
    color: white;
    /*background-color: rgba(255,255,255,0.75);*/
    /*background-color: #F0F0F0 ;*/

}

.segment-warning{
    color: rgb(169,68,66) ;
    background-color: #f2dede;

}

.header-top{
    z-index:100;
    position: absolute;
    background-color:rgb(179,205,255);
    width: 100%;
}

.panel-default>.panel-heading {
    cursor: pointer;
    color: #f89d29;
    background-color: #1e1e1e;
}

.footPanel{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    font-size: 90%;
}
.taxi-details:hover{
    color: #f89d29;
    background-color: #1e1e1e;
    cursor: pointer;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}
