.wrapper{
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}
.name{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
.add-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
.name_content{
    padding:0px;
    margin:0px;
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    #reponsiveFont{
        font-size: 0.9em;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    #reponsiveFont{
        font-size: 0.8em;
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    #reponsiveFont{
        font-size: 0.9em;
    }
}
@media (max-width: 768px) {
  .btn-responsive .h4 .month .year{
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 870px) {
  .btn-responsive .h4 .month .year{
    padding:2px 4px;
    font-size:80%;
    line-height: 1.2;
  }
}
@media (min-width: 870px) and (max-width: 1100px) {
  .btn-responsive .h4 .month .year{
    padding:2px 4px;
    font-size:80%;
    line-height: 1.2;
  }
}
.out-of-budget{
    color: red;
    background-color: red;
}

.selected{
    opacity: 0.5;
    cursor: default;
}
